/* src/components/WinnerModal.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: rgba(163, 144, 152, 0.8);
    padding: 40px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    position: static;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(233, 230, 235, 0.3);
  }
  
  .modal-content {
    position: static;
  }
  
  .close-button {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: #215994;
    color: white;
    border-radius: 4px;
  }
  